.Soda {
  background-image: url("https://media1.giphy.com/media/yT6i7hZSQAy1q/giphy.gif?cid=790b761113241b2d98b7ec1cb895ef7272f15948dd52e9c9&rid=giphy.gif");
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding-top: 0.5px;
}